.country__container {
  width: 100%;
}

.heading {
  display: flex;
}

.heading__name,
.heading__population,
.heading__area,
.heading__gini {
  flex: 1;
  padding: 20px;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1rem;
}

.heading button {
  border: none;
  background-color: transparent;
  outline: none;
}

.row {
  display: flex;
  text-align: center;
  background-color: var(--background-color-light);
  margin-bottom: 15px;
  box-shadow: var(--box-shadow);
  font-weight: 600;
  transition: all 0.1s ease-in-out;
}

.row:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.name,
.population,
.area,
.gini {
  display: flex;
  flex: 4;
  padding: 20px;
  justify-content: left;
}

.flag {
  flex: 1;
  padding: 10px;
}
.flag img {
  width: 100%;
}

@media screen and (max-width: 720px) {
  .area,
  .heading__area {
    display: none;
  }
  .gini,
  .heading__gini {
    display: none;
  }
}
